{% extends "posts/_base.html" %}

{% block title %}
Latest Posts - {{ block.super }}
{% endblock title %}

{% block content %}

    {% for post in posts  %}
    <div class="card" style="">
        {% if post.image %}
        <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content|truncatewords_html:40 }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read more...</a>
        </div>
    </div>
    {% empty %}
    <p> No posts to display </p>
    {% endfor %}
    {{ block.super }}
{% endblock content %}