body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Concourse_T3", sans-serif;
    font-size: 18px;
    font-weight: 300px;
    line-height: 1.6;
    color: #3c3c3c;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.site-content {
    flex: 1;
}
.container-flex {
    max-width: 650px;
    padding: 0rem 0.5rem;
    margin: auto;
}
@media (min-width: 600px) {
    .container-flex {
        padding: 0rem 1rem;
    }
}
img {
    border-radius: 8px;
    border: 1px solid #b9b9b9;
    box-shadow: 0px 0px 30px 1px #aaa;
    max-width: 750px;
    width: 100%;
    height: auto;
    border: 1px solid #999;
    display: block;
    margin: 0 auto;
}
img.headshot {
    max-height: 250px;
    width: auto;
    border-radius: 50%;
    margin: 2rem auto;
    display: flex;
}
img.bookcover {
    width: 200px;
    margin-bottom: 2rem;
}
@media (min-width: 600px) {
    img.bookcover {
        margin-bottom: 0rem;
    }
}
.bookshelf-indiv {
    display: grid;
    justify-items: center;
    margin: 0rem 0.5rem 1rem 0.5rem;
}
.bookshelf-two {
    display: grid;
    justify-items: center;
    margin-bottom: 1rem;
}
@media (min-width: 600px) {
    .bookshelf-two {
        grid-template-columns: 1fr 1fr;
    }
}
.bookshelf-three {
    display: grid;
    justify-items: center;
    margin-bottom: 1rem;
}
@media (min-width: 600px) {
    .bookshelf-three {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.bookshelf {
    display: grid;
    justify-items: center;
    margin-bottom: 1rem;
}
@media (min-width: 600px) {
    .bookshelf {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
img.diagram {
    max-height: 250px;
}
ul,
ol {
    margin: 0rem 0rem 2rem 1rem;
}
li > ul,
li > ol {
    margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
h1 {
    font-family: "Equity", serif;
    margin-bottom: 0.5rem;
}
h1,
h3 {
    margin-bottom: 1rem;
}
h2 {
    margin-bottom: 0rem;
    font-family: "Concourse_T3";
    line-height: 2rem;
}
h3,
h4 {
    font-weight: bold;
    font-family: "Concourse_T3";
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
h1.post-title {
    margin-bottom: 0.5rem;
}
h2#currently-reading {
    margin-bottom: 1rem;
}
a {
    color: #0cc471;
    text-decoration: none;
}
a:hover {
    color: #2a7ae2;
    text-decoration: underline;
}
p {
    margin-bottom: 1rem;
    font-family: "Concourse_T3";
}
pre,
code {
    font-size: 1rem;
    border-radius: 3px;
    font-family: "Triplicate", Monaco;
}
code {
    display: inline-block;
    padding: 0.05em 0.25em;
    border: 1px solid #aaa;
    border-radius: 0.28rem;
    background: #fafafa;
    color: #315082;
}
pre {
    padding: 8px 12px;
    overflow-x: auto;
    margin-bottom: 1rem;
    background-color: #e8e8e8;
}
pre > code {
    border: none;
    padding: 1px 5px;
    background-color: #e8e8e8;
}
@media (min-width: 600px) {
    body {
        font-size: 125%;
    }
    h2 {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }
}
header,
footer {
    background-color: #fafafa;
    padding: 1rem 0;
}
header {
    border-bottom: 1px solid #aaaaaa;
    margin-bottom: 1rem;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    font-family: "Concourse_T3";
    font-weight: 300;
}
.nav-left a {
    color: #3c3c3c;
}
.nav-left a:hover,
.nav-right a:hover {
    color: #0cc471;
    text-decoration: none;
}
.about-link {
    color: #3c3c3c;
}
.nav-left a {
    margin-right: 10px;
}
.nav-right a {
    margin-left: 0.2rem;
}
@media (min-width: 600px) {
    .nav-right a {
        margin-left: 1rem;
    }
}
.page-content {
    padding: 1rem 0;
}
.post-content h2 {
    font-weight: bold;
    font-family: "Concourse_T3";
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
}
.page-heading {
    font-size: 20px;
}
.post-list {
    margin-left: 0;
    list-style: none;
}
.post-list > li {
    margin-bottom: 1.5rem;
}
.post-list a {
    color: #3c3c3c;
}
.post-list a:hover {
    color: #0cc471;
}
.post-list h2 {
    margin-bottom: 0rem;
    line-height: 1;
}
.post-meta {
    font-size: 1rem;
    color: #828282;
    font-weight: 300;
    font-family: "Concourse_T3";
}
.post-link {
    display: block;
    font-size: 24px;
}
.post-header {
    margin: 1rem 0rem;
}
.post-title {
    font-size: 1.75rem;
    letter-spacing: -1px;
    line-height: 1;
}
@media (min-width: 600px) {
    .post-title {
        font-size: 2rem;
    }
}
#about-me {
    font-family: "Concourse_T3";
    font-weight: 600;
}
footer {
    border-top: 1px solid #aaaaaa;
}
.buttons {
    text-align: center;
    margin-bottom: 2rem;
}
button {
    height: auto;
    font-size: 18px;
    margin-bottom: 0;
    padding: 0 30px;
    font-weight: 600;
    line-height: 38px;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}
.btn {
    display: inline-block;
    margin-top: 10px;
    border-bottom: none;
}
.btn button {
    border-color: #d6ad2b;
    background-color: #ffd54f;
    color: #6f5502;
}
.btn--freebie button {
    background-color: #d7ebf9;
    color: #1b4561;
    border-color: #638cd2;
}
.books-button {
    background-color: #49a84e;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}
.books-button:hover {
    background-color: #0069d9;
    text-decoration: none;
}
a.books-button:hover {
    color: white;
}
#mc_embed_signup {
    text-align: center;
    border: 1px solid #2e9fff;
    border-radius: 5px;
    background: #fff;
    background-color: #2e9fff;
    clear: left;
    font: 16px;
    width: 100%;
    margin-bottom: 30px;
}
#mc_embed_signup label {
    display: block;
    margin-top: 15px;
    color: #fff;
}
#mc_embed_signup .email {
    width: 80%;
    height: 45px;
    font-size: 20px;
    margin: 10px 0px;
    padding-left: 10px;
    border: 0px;
    border-radius: 5px;
    font-family: Concourse_T3;
}
#mc-embedded-subscribe {
    padding: 5px 15px;
    background-color: #0cc471;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 1px solid #0cc471;
    font-family: Concourse_T3;
}
#carbonads {
    display: flex;
    float: right;
    margin: 0 0 20px 20px;
    max-width: 130px;
    border-radius: 4px;
    background-color: #fafafa;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    font-size: 11px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#carbonads a {
    color: #111;
    text-decoration: none;
}
#carbonads a:hover {
    color: #111;
}
.carbon-img {
    display: block;
    margin-bottom: 8px;
    max-width: 130px;
    line-height: 1;
}
.carbon-img img {
    display: block;
    margin: 0 auto;
    max-width: 130px;
    width: 130px;
    height: auto;
}
.carbon-text {
    display: block;
    padding: 0 10px 8px;
    text-align: left;
    line-height: 1.35;
}
.carbon-poweredby {
    display: block;
    padding: 10px;
    background: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(0, 0, 0, 0.025) 5px, rgba(0, 0, 0, 0.025) 10px) rgba(241, 243, 244, 0.4);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 8px;
    line-height: 0;
}
@media only screen and (min-width: 320px) and (max-width: 759px) {
    #carbonads {
        position: relative;
        float: none;
        margin: 20px 0;
        max-width: 330px;
    }
    .carbon-wrap {
        display: flex;
        flex-direction: row;
    }
    .carbon-img {
        margin: 0;
    }
    .carbon-text {
        padding: 10px 10px 0 10px;
        font-size: 12px;
    }
    .carbon-poweredby {
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 0;
        border-top-left-radius: 3px;
        text-align: center;
    }
}
@font-face {
    font-family: "Triplicate";
    font-style: normal;
    src: url("../assets/fonts/triplicate_t3_code_regular-webfont.woff2") format("woff2"), url("../assets/fonts/triplicate_t3_code_regular-webfont.woff") format("woff");
}
@font-face {
    font-family: "Triplicate";
    font-style: normal;
    font-weight: bold;
    src: url("../assets/fonts/triplicate_t3_code_bold-webfont.woff2") format("woff2"), url("../assets/fonts/triplicate_t3_code_bold-webfont.woff") format("woff");
}
@font-face {
    font-family: "Triplicate";
    font-style: italic;
    src: url("../assets/fonts/triplicate_t3_code_italic-webfont.woff2") format("woff2"), url("../assets/fonts/triplicate_t3_code_italic-webfont.woff") format("woff");
}
@font-face {
    font-family: "Triplicate";
    font-style: italic;
    font-weight: bold;
    src: url("../assets/fonts/triplicate_t3_code_bold_italic-webfont.woff2") format("woff2"), url("../assets/fonts/triplicate_t3_code_bold_italic-webfont.woff") format("woff");
}
@font-face {
    font-family: "Equity";
    font-style: normal;
    src: url("../assets/fonts/equity_text_b_regular-webfont.woff2") format("woff2"), url("../assets/fonts/equity_text_b_regular-webfont.woff") format("woff");
}
@font-face {
    font-family: "Equity_Italic";
    font-style: italic;
    src: url("../assets/fonts/equity_text_b_italic-webfont.woff2") format("woff2"), url("../assets/fonts/equity_text_b_italic-webfont.woff") format("woff");
}
@font-face {
    font-family: "Equity_Bold";
    font-style: normal;
    font-weight: bold;
    src: url("../assets/fonts/equity_text_b_bold-webfont.woff2") format("woff2"), url("../assets/fonts/equity_text_b_bold-webfont.woff") format("woff");
}
@font-face {
    font-family: "Equity_BoldItalic";
    font-style: italic;
    font-weight: bold;
    src: url("../assets/fonts/equity_text_b_bold_italic-webfont.woff2") format("woff2"), url("../assets/fonts/equity_text_b_bold_italic-webfont.woff") format("woff");
}
@font-face {
    font-family: "Concourse_T3";
    font-style: normal;
    src: url("../assets/fonts/concourse_t3_regular-webfont.woff2") format("woff2"), url("../assets/fonts/concourse_t3_regular-webfont.woff") format("woff");
}
@font-face {
    font-family: "Concourse_T3";
    font-style: italic;
    src: url("../assets/fonts/concourse_t3_italic-webfont.woff2") format("woff2"), url("../assets/fonts/concourse_t3_italic-webfont.woff") format("woff");
}
@font-face {
    font-family: "Concourse_T3";
    font-weight: bold;
    src: url("../assets/fonts/concourse_t3_bold-webfont.woff2") format("woff2"), url("../assets/fonts/concourse_t3_bold-webfont.woff") format("woff");
}
@font-face {
    font-family: "Concourse_T3";
    font-style: italic;
    font-weight: bold;
    src: url("../assets/fonts/concourse_t3_bold_italic-webfont.woff2") format("woff2"), url("../assets/fonts/concourse_t3_bold_italic-webfont.woff") format("woff");
}
.highlight {
    background: #e8e8e8;
}
.highlight .c {
    color: #999988;
    font-style: italic;
}
.highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}
.highlight .k {
    font-weight: bold;
}
.highlight .o {
    font-weight: bold;
}
.highlight .cm {
    color: #999988;
    font-style: italic;
}
.highlight .cp {
    color: #999999;
    font-weight: bold;
}
.highlight .c1 {
    color: #999988;
    font-style: italic;
}
.highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic;
}
.highlight .gd {
    color: #000000;
    background-color: #fdd;
}
.highlight .gd .x {
    color: #000000;
    background-color: #faa;
}
.highlight .ge {
    font-style: italic;
}
.highlight .gr {
    color: #a00;
}
.highlight .gh {
    color: #999;
}
.highlight .gi {
    color: #000000;
    background-color: #dfd;
}
.highlight .gi .x {
    color: #000000;
    background-color: #afa;
}
.highlight .go {
    color: #888;
}
.highlight .gp {
    color: #555;
}
.highlight .gs {
    font-weight: bold;
}
.highlight .gu {
    color: #aaa;
}
.highlight .gt {
    color: #a00;
}
.highlight .kc {
    font-weight: bold;
}
.highlight .kd {
    font-weight: bold;
}
.highlight .kp {
    font-weight: bold;
}
.highlight .kr {
    font-weight: bold;
}
.highlight .kt {
    color: #445588;
    font-weight: bold;
}
.highlight .m {
    color: #099;
}
.highlight .s {
    color: #d14;
}
.highlight .na {
    color: teal;
}
.highlight .nb {
    color: #0086b3;
}
.highlight .nc {
    color: #445588;
    font-weight: bold;
}
.highlight .no {
    color: teal;
}
.highlight .ni {
    color: purple;
}
.highlight .ne {
    color: #990000;
    font-weight: bold;
}
.highlight .nf {
    color: #990000;
    font-weight: bold;
}
.highlight .nn {
    color: #555;
}
.highlight .nt {
    color: navy;
}
.highlight .nv {
    color: teal;
}
.highlight .ow {
    font-weight: bold;
}
.highlight .w {
    color: #bbb;
}
.highlight .mf {
    color: #099;
}
.highlight .mh {
    color: #099;
}
.highlight .mi {
    color: #099;
}
.highlight .mo {
    color: #099;
}
.highlight .sb {
    color: #d14;
}
.highlight .sc {
    color: #d14;
}
.highlight .sd {
    color: #d14;
}
.highlight .s2 {
    color: #d14;
}
.highlight .se {
    color: #d14;
}
.highlight .sh {
    color: #d14;
}
.highlight .si {
    color: #d14;
}
.highlight .sx {
    color: #d14;
}
.highlight .sr {
    color: #009926;
}
.highlight .s1 {
    color: #d14;
}
.highlight .ss {
    color: #990073;
}
.highlight .bp {
    color: #999;
}
.highlight .vc {
    color: teal;
}
.highlight .vg {
    color: teal;
}
.highlight .vi {
    color: teal;
}
.highlight .il {
    color: #099;
}
