{% extends "posts/post_base.html" %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}
<!-- Blog Post -->
        <div class="card mb-4">
        <img class="card-img-top" src="https://3.bp.blogspot.com/--C1wpaf_S4M/W7V__10nRoI/AAAAAAAAK24/1NSfapuYSIY0f0wzXY9NgoH0FjQLT07YACKgBGAs/s1600/maxresdefault.jpg" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title"> {{ post.title }}</h2>
            <p class="card-text">{{ post.content }}</p>
            
        </div>
        <div class="card-footer text-muted">
            Posted on {{ post.pub_date }} by {{ post.author}}
            <a href="#">Start Bootstrap</a>
        </div>
        </div>
{% endblock content %}