{% extends 'posts/post_base.html' %}

{% block title %}
Latest posts
{% endblock title %}

{% block content %}
    {% for post in object_list %}
    <!-- Blog Post -->
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">{{ post.title }}</h2>
              <p class="card-text">{{ post.content|truncatechars:"30" }}</p>
              <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More →</a>
            </div>
            <div class="card-footer text-muted">
              Posted on {{ post.pub_date }} by {{ post.author }}
            </div>
          </div>
    {% empty %}
    <p>No posts to display</p>
    {% endfor %}
{% endblock content %}